<a href="#/events/<%= groupEvent.escape('id')%>" class="groupEvent-item group" data-id=<%= groupEvent.escape('id')%>>
  <p class="right-bar-e1">
    <% var title = groupEvent.escape('title').capitalize()%>
    <% if (title.length > 18) { %>
      <% var newTitle = title.substring(0, 15) + "..." %>
    <% } else { %>
      <% var newTitle = title %>
    <% }%>
    <%= newTitle %>
  </p>

  <div class="right-bar-avatar-container">
    <% if (groupEvent.escape('event_url_cropped') != "") { %>
      <img class="right-bar-avatar-img" src="<%= groupEvent.escape('event_url_cropped') %>" height="50" width="50">
    <% } else { %>
      <img class="right-bar-avatar-img"  src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,h_60,o_43/v1440459387/rdx8z8chvxtjutwxzj6q.png" height="50" width="50">
    <% } %>
  </div>

  <div class="right-bar-eventname-container">

    <p class="right-bar-e2">
      <%= groupEvent.escape('date')%>
    </p>

    <p class="right-bar-e3">

      <% var location = groupEvent.escape('location').capitalize()%>
      <% if (location.length > 13) { %>
        <% var newloc = location.substring(0, 10) + "..." %>
      <% } else { %>
        <% var newloc = location %>
      <% }%>

      <%= newloc %>


    </p>
  </div>


</a>
