<a href="#/events/<%= groupEvent.escape('id')%>" class="groupEvent-item" data-id=<%= groupEvent.escape('id')%>>
  <p>
    <%= groupEvent.escape('title')%>
    <%= groupEvent.escape('location')%>
    <%= groupEvent.escape('date')%>
  </p>
</a>
