<a href="#/events/<%= groupEvent.escape('id')%>" class="groupEvent-item" data-id=<%= groupEvent.escape('id')%>>
  <div class="right-bar-e1">

    <%= groupEvent.escape('title') %>

    <!-- <% var title = groupEvent.escape('title').capitalize()%>
    <% if (title.length > 18) { %>
      <% var newTitle = title.substring(0, 15) + "..." %>
    <% } else { %>
      <% var newTitle = title %>
    <% }%>
    <%= newTitle %> -->
  </div>

  <div class="event-index-item-lower group">


    <div class="right-bar-avatar-container">
      <% if (groupEvent.escape('event_url_cropped') != "") { %>
        <img class="right-bar-avatar-img" src="<%= groupEvent.escape('event_url_cropped') %>" height="50" width="50">
      <% } else { %>
        <img class="right-bar-avatar-img"  src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,h_60,o_43/v1440459387/rdx8z8chvxtjutwxzj6q.png" height="50" width="50">
      <% } %>
    </div>

    <div class="right-bar-eventname-container">

      <p class="right-bar-e2">
        <%= groupEvent.escape('date')%>
      </p>

      <div class="right-bar-e3">

        <%= groupEvent.escape('location') %>

        <!-- <% var location = groupEvent.escape('location').capitalize()%>
        <% if (location.length > 12) { %>
          <% var newloc = location.substring(0, 10) + "..." %>
        <% } else { %>
          <% var newloc = location %>
        <% }%>

        <%= newloc %> -->


      </div>

    </div>
  </div>


</a>
