<a href="#/events/<%= groupEvent.escape('id')%>" class="groupEvent-item" data-id=<%= groupEvent.escape('id')%>>
  <p class="event-item-title">
    <%= groupEvent.escape('title')%>
  </p>
  <p class="event-item-location">
    <% if (groupEvent.escape('location')) { %>
      Location: <%= groupEvent.escape('location')%>
    <% } %>
  </p>
  <p class="event-item-date">
    <%= groupEvent.escape('date')%>
  </p><br>


</a>
