
<div class="title-div-1 event-title-div-1 group">
  <h4><%= funnyPhrase[0] %></h4>
  <h5><%= funnyPhrase[1] %></h5>

  <h2><%= groupEvent.escape('group_name') %> Group</h2>
  <h3><%= groupEvent.escape('title').capitalize() %></h3>
</div>

<div class="title-div-2 event-title-div-2"></div>

<div class="title-div-3 event-title-div-3"></div>


<div class="event-show-container inner-container group">


  <div class="left-bar">

      <% if (group != undefined) { %>
        <% var group_image = group.escape('group_url_cropped') %>

          <a href="#/images/<%= group.escape('group_url_cropped_id') %>">
            <div class="image-box-big">
              <img class="group-image"src="<%= group_image %>" width="175" height="175" alt="" />
            </div>
          </a>



        <div class="group-created-by">
          <p class="group-creator">
            Group started by:
          </p>
          <% if (group.escape('author_name') == App.CURRENT_USER.username) { %>
            <p class="group-creator-name">
              You
            </p>
          <% } else { %>
            <p class="group-creator-name">
              <%= group.escape('author_name').capitalize()%>
            </p>
          <% } %>
          <abbr class="timeago"  title="<%= group.escape('created_at')%>"></abbr>

        </div>


        <a class="underline-gone" href="#/groups/<%= group.escape('id')%>">
          <button type="button" class="leave-group join-group">
            Back to <%= groupEvent.escape('group_name').capitalize() %> Group
          </button>
        </a>
      <% } %>

  </div>


    <div class="mid-bar">
      <!--  -->
      <div class="bar-inner group">

        <div class="slide-show-div">
          <% if (slideShowImages.length > 0) { %>

            <div class="group-index-carousel-user">

              <div id="owl-example" class="owl-carousel owl-theme">

                <% slideShowImages.forEach(function(image){ %>
                  <div class="item hover">
                    <img src="<%= image.escape("url_cropped") %>">
                  </div>
                <% }) %>

              </div>
            </div>
          <% } %>

          <% if (ableToUploadImage) { %>
            <div class="bar-inner bar-inner-upload-image">

              <button class="btn btn-info btn-lg uploadImage event-upload-image">
                <span class="glyphicon glyphicon-picture"></span>
                Upload a Photo
              </button>
            </div>
          <% } else { %>
            <div class="bar-inner bar-inner-upload-image">
              <p class="only-huddler-can">* Only Huddlers can add</p>
              <span class="glyphicon glyphicon-picture huddler-image-glyph"></span>
            </div>
          <% } %>

        </div>
        <!--  -->
        <div class="event-info-div">
          <p class="heading">Event Information</p>

          <h3 class="event-detail-head">Hosted by
            <% if (groupEvent.escape('author_name') == App.CURRENT_USER.username) { %>
                you
            <% } else { %>
              <%= groupEvent.escape('author_name')%>
            <% } %>
          </h3>

          <h3 class="event-detail-head">Location:</h3>
          <h4 class="event-detail-body"><%= groupEvent.escape('location') %></h4>

          <h3 class="event-detail-head">Date:</h3>
          <h4 class="event-detail-body"><%= groupEvent.escape('date') %></h4>



          <% if (groupEvent.escape('author_name') == App.CURRENT_USER.username) { %>
            <button type="button" class="event-delete" data-id=<%= groupEvent.id %>>Cancel Event</button>
          <% } %>

        </div>

      </div>

      <!-- <div class="bar-divider"></div> -->

      <% if (groupEvent.escape('body').length > 0) { %>
        <div class="bar-inner">
          <h3 class="event-detail-details-head">Huddle Details:</h3>
          <h5 class="huddle-detail"><%= groupEvent.escape('body') %></h5>
        </div>
        <div class="bar-divider"></div>

      <% } %>

      <div class="bar-inner">

        <div class="comments">
          <div class="event-show-comment-list"></div>
        </div>

        <div class="comment-group">
          <div class="user-avatar">
            <img src="<%= App.CURRENT_USER.thumb_avatar %>" width="60" height="60">
          </div>
          <form class="comment-form">

            <input type="hidden" name="commentable_id" value=<%= event_id %>>

            <input type="hidden" name="commentable_type" value="Event">

            <input type="hidden" name="author_id" value=<%= App.CURRENT_USER.id %>>

            <label>
              <textarea class="comment-textarea" id="message" name='body' rows="3" cols="35" placeholder="Ask a question, share something, or post a comment ... "></textarea>
            </label>

          </form>
        </div>

      </div>



    </div>


    <div class="right-bar">

      <% if (!groupEvent.users().get(App.CURRENT_USER.id)) { %>
        <button type="button" class="join-event">
          Join Huddle
        </button>
      <% } else { %>
        <button type="button" class="leave-event">
          Leave Huddle
        </button>
      <% } %>

      <div class="members">
        <p class="heading">Going:</p>
        <div class="event-show-user-list group"></div>
      </div>
    </div>

</div>


<script>
  $(document).ready(function() {

    $("#owl-example").owlCarousel({

      slideSpeed : 1200,
      singleItem:true,

      autoPlay: 3000,
      // stopOnHover: true,


    });

  });

  // $('img').load(function(){
  //   // debugger
  //   $('#cover').fadeOut(500)
  // })
</script>
