<div class="event-show-container show-container group">

    <div class="left-bar">
      <div class="info">
        <p class="heading">Event Information</p>

        <h1>
          <%= groupEvent.escape('title') %>
        </h1>

        <h3>hosted by:
          <% if (groupEvent.escape('author_name') == App.CURRENT_USER.username) { %>
              you
          <% } else { %>
            <%= groupEvent.escape('author_name')%>
          <% } %>
        </h3>

        <h3>location:
          <%= groupEvent.escape('location') %>
        </h3>

        <h3>date:
          <%= groupEvent.escape('date') %>
        </h3>

        <h3>body:
          <%= groupEvent.escape('body') %>
        </h3>

        <h3>hosted by group:
          <%= groupEvent.escape('group_name') %>
        </h3>

        <% if (groupEvent.escape('author_name') == App.CURRENT_USER.username) { %>
          <button type="button" class="event-delete" data-id=<%= groupEvent.id %>>Cancel Event</button>
        <% } %>

      </div>
    </div>


    <div class="mid-bar">

      <div class="comments">
        <p class="heading">The Wall:</p>
        <div class="event-show-comment-list"></div>
      </div>

      <br><br>
        <form class="comment-form">

          <input type="hidden" name="commentable_id" value=<%= event_id %>>

          <input type="hidden" name="commentable_type" value="Event">

          <input type="hidden" name="author_id" value=<%= App.CURRENT_USER.id %>>

          <label>
            <textarea class="comment-textarea" id="message" name='body' rows="4" cols="35" placeholder="Ask a question, share something, or post a comment ... "></textarea>
          </label>

          <button class="start-comment-btn">
            Post
          </button>

        </form>
    </div>


    <div class="right-bar">

      <button type="button" class="going-not-going">
        Huddle!
      </button>

      <div class="members">
        <p class="heading">Going:</p>
        <div class="event-show-user-list"></div>
      </div>
    </div>

</div>

<br><br>
