
<% if (user.id == App.CURRENT_USER.id) { %>
  <% var userAlias = "You" %>
  <% var currentUser = true %>
<% } else { %>
  <% var userAlias = user.escape('alias') %>
  <% var currentUser = false %>
<% } %>

<% if (user.escape('sex')=== "♀") { %>
  <% var heOrShe = "She" %>
<% } else { %>
  <% var heOrShe = "He" %>
<% } %>

<div class="title-div-1 user-title-div-1">
  <% if (currentUser) { %>
    <h1>Your Profile Page</h1>
  <% } else { %>
    <h1><%= user.escape('username').capitalize() %>'s Profile Page</h1>
  <% } %>
</div>

<div class="title-div-2 user-title-div-2"></div>

<div class="title-div-3 user-title-div-3"></div>


<div class="user-show-container inner-container group">





  <div class="left-bar">

    <div class="bar-inner">

      <div class="groups">
        <p class="heading"><%= userAlias %> belongs to:</p>
        <div class="user-show-group-list"></div>
      </div>

    </div>
    <div class="bar-divider"></div>

  </div>







  <div class="mid-bar">

    <div class="bar-inner group">

      <!--  -->
      <div class="slide-show-div">
        <% if (images != undefined && images.length > 0) { %>

          <div class="group-index-carousel-user">

            <div id="owl-example" class="owl-carousel owl-theme">

              <% images.forEach(function(image){ %>
                <div class="item hover">
                  <img src="<%= image.escape("url_cropped") %>">
                </div>
              <% }) %>

            </div>
          </div>
        <% } else { %>
          <div class="group-index-carousel-user">

            <div id="owl-example" class="owl-carousel owl-theme">

              <div class="item hover">
                <% if (user.escape('sex') === "♀") { %>
                  <img src="http://res.cloudinary.com/djdfz4a67/image/upload/o_51/v1440096548/female_bvab1f.png">
                <% } else { %>
                  <img src="http://res.cloudinary.com/djdfz4a67/image/upload/o_51/v1440096559/male_bruusp.png">
                <% } %>
              </div>

            </div>
          </div>
        <% } %>


        <% if (currentUser) { %>
          <div class="bar-inner bar-inner-upload-image">

            <button class="btn btn-info btn-lg uploadImage-user">
              <span class="glyphicon glyphicon-camera"></span>
              Upload a Picture
            </button>
          </div>
        <% } %>
      </div>

      <!--  -->
      <div class="rating-container">
        <p class="heading"><%= userAlias %></p>

        <% if (currentUser) { %>
          <button class="btn btn-info btn-lg btn-edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        <% } %>

        Friendliness level (?)

        <form class="rating-form">
          <select id="rating" name='score'>
            <option value="1">1</option>
            <option class="try" value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </form>
      </div>

      <button class="submit-rating">Rate me!</button>

    </div>

    <div class="bar-divider"></div>

    <!--  -->
    <div class="user-info">

      <div class="top-level-info group">

        <div class="bar-inner-user-group-item">
          <% if (user.escape('residence').length > 0) { %>
            <p>Lives in: </p>
            <h6><%= user.escape('residence') %></h6>
          <% } %>
        </div>

        <div class="bar-inner-user-group-item">
          <% if (user.escape('occupation').length > 0) { %>
            <p>Occupation: </p>
            <h6><%= user.escape('occupation').capitalize() %></h6>
          <% } %>
        </div>

        <div class="bar-inner-user-group-item">
          <p>Join date: </p>
          <h6><%= user.escape('join_date') %></h6>
        </div>

      </div>

      <div class="bar-inner-user">
        <% if (user.escape('age_preference').length > 0) { %>
          <p><%= heOrShe %> prefers to attend huddles with</p>
          <h6><%= user.escape('age_preference') %></h6>
        <% } %>
      </div>

      <div class="bar-inner-user">
        <% if (user.escape('bio').length > 0) { %>
          <p>About me</p>
          <h6><%= user.escape('bio') %></h6>
        <% } %>
      </div>

    </div>


    <div class="bar-divider"></div>


    <!--  -->
    <div class="bar-inner">
      <div class="comments">
        <p class="heading">The Wall:</p>
        <div class="user-show-comment-list"></div>
      </div>

      <div class="comment-group">
        <div class="user-avatar">
          <img src="<%= App.CURRENT_USER.thumb_avatar %>">
        </div>
        <form class="comment-form">

          <input type="hidden" name="commentable_id" value=<%= user_id %>>

          <input type="hidden" name="commentable_type" value="User">

          <input type="hidden" name="author_id" value=<%= App.CURRENT_USER.id %>>

          <label>
            <textarea class="comment-textarea" id="message" name='body' rows="3" cols="35" placeholder="Ask a question, share something, or post a comment ... "></textarea>
          </label>

        </form>
      </div>

    </div>


  </div>









  <div class="right-bar">

    <% if (user.id == App.CURRENT_USER.id) { %>
      <% var userAlias = "Your" %>
    <% } else { %>
      <% var userAlias = user.escape('alias') + "'s" %>
    <% } %>

    <div class="events">
      <p class="heading"><%= userAlias %> upcoming events: </p>
      <div class="user-show-upcoming-events"></div>
    </div>


    <div class="events">
      <p class="heading"><%= userAlias %> past events: </p>
      <div class="user-show-past-events"></div>
    </div>

  </div>




</div>







<script>
  $(document).ready(function() {

    $("#owl-example").owlCarousel({
      slideSpeed : 800,
      singleItem:true,
      paginationSpeed: 800,
      autoPlay: false,
      // stopOnHover: true,
    });

  });
</script>

<script type="text/javascript">
   $(function() {
      $('#rating').barrating({
        theme: 'bars-1to10',
        initialRating: 8,
        readonly: false, //dynamic
      });
   });
</script>
