
<% if (user.id == App.CURRENT_USER.id) { %>
  <% var userAlias = "You" %>
  <% var currentUser = true %>
<% } else { %>
  <% var userAlias = user.escape('alias') %>
  <% var currentUser = false %>
<% } %>

<% if (currentUser) { %>
  <% var usernameBig = "Your Profile" %>
<% } else { %>
  <% var usernameBig = userAlias %>
<% } %>

<% if (user.escape('sex')=== "♀") { %>
  <% var heOrShe = "She" %>
<% } else { %>
  <% var heOrShe = "He" %>
<% } %>

<div class="title-div-1 user-title-div-1">
    <h1><%= user.escape('username').capitalize() %>'s Profile Page</h1>
</div>

<div class="title-div-2 user-title-div-2"></div>

<div class="title-div-3 user-title-div-3"></div>


<div class="user-show-container inner-container group">





  <div class="left-bar">

    <% if (!loaded) { %>
      <div class="spinner-left-bar"></div>
    <% } %>

    <div class="bar-inner">

      <div class="groups">
        <% if (currentUser) { %>
          <p class="his-her-left-bar">
            Your
          </p>
        <% } else if (user.escape('sex') === "♀") { %>
          <p class="his-her-left-bar">
            Her
          </p>
        <% } else { %>
          <p class="his-her-left-bar">
            His
          </p>
        <% } %>

        <p class="heading hot-fix-2">Groups</p>
        <div class="user-show-group-list"></div>
      </div>

    </div>

  </div>







  <div class="mid-bar">

    <% if (!loaded) { %>
      <div class="spinner-mid-bar-bottom"></div>
    <% } %>

    <div class="bar-inner group">

      <!--  -->
      <div class="slide-show-div">
        <% if (images != undefined && images.length > 0) { %>

          <div class="group-index-carousel-user">

            <div id="owl-example" class="owl-carousel owl-theme">

              <% images.forEach(function(image){ %>
                <div class="item hover">
                  <img src="<%= image.escape("url_cropped") %>">
                </div>
              <% }) %>

            </div>
          </div>
        <% } else { %>
          <div class="group-index-carousel-user">

            <div id="owl-example" class="owl-carousel owl-theme">

              <div class="item hover">
                <% if (user.escape('sex') === "♀") { %>
                  <img src="http://res.cloudinary.com/djdfz4a67/image/upload/o_51/v1440096548/female_bvab1f.png">
                <% } else { %>
                  <img src="http://res.cloudinary.com/djdfz4a67/image/upload/o_51/v1440096559/male_bruusp.png">
                <% } %>
              </div>

            </div>
          </div>
        <% } %>


        <% if (currentUser) { %>
          <div class="bar-inner bar-inner-upload-image">

            <button class="btn btn-info btn-lg uploadImage-user">
              <span class="glyphicon glyphicon-camera"></span>
              Upload a Picture
            </button>
          </div>
        <% } %>
      </div>

      <!--  -->
      <div class="rating-container">

        <div class="user-name-heading">
          <div class="user-name-heading-inner">
            <%= usernameBig %>
          </div>
        </div>

        <% if (currentUser) { %>
          <div class="btn-edit-container">
            <button class="btn btn-info btn-lg btn-edit">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        <% } %>

        <% if (ratingCount == 1) { var votes = "vote" } else { var votes = "votes" } %>



        <div class="rating-count">
          <p>
            Personality
          </p>
          (<div class="count-num">
            <%= ratingCount %>
          </div> <div class="count-votes"><%= votes %></div>)
        </div>


        <form class="rating-form">

          <input type="hidden" name="rateable_id" value=<%= user_id %>>

          <input type="hidden" name="rateable_type" value="User">

          <input type="hidden" name="voter_id" value=<%= App.CURRENT_USER.id %>>

          <select id="rating" name='score'>
            <option disabled selected style='display:none'></option>
            <option value=1>Heart on Ice</option>
            <option value=2>Cold Fish</option>
            <option value=3>Average Joe</option>
            <option value=4>Friendly</option>
            <option value=5>Very Friendly</option>
            <option value=6>Social Magnet</option>
          </select>
        </form>

        <div class="rating-bottom-container">

          <% if (!currentUser && !alreadyRated) { %>
            <div class="pre-rate-msg">
              How friendly was <%= userAlias %>?
            </div>
            <button class="btn btn-primary submit-rating">Rate me!</button>
          <% } %>

          <div class="rating-msg post-rate-msg"></div>
        </div>
      </div>


    </div>

    <div class="bar-divider"></div>

    <!--  -->
    <div class="user-info">

      <div class="top-level-info group">

        <div class="bar-inner-user-group-item">
          <p>Join date: </p>
          <h6><%= user.escape('join_date') %></h6>
        </div>

        <div class="bar-inner-user-group-item">
          <% if (user.escape('residence').length > 0) { %>
            <p>Lives in: </p>
            <h6><%= user.escape('residence') %></h6>
          <% } %>
        </div>

        <div class="bar-inner-user-group-item">
          <% if (user.escape('occupation').length > 0) { %>
            <p>Occupation: </p>
            <h6><%= user.escape('occupation').capitalize() %></h6>
          <% } %>
        </div>

      </div>

      <div class="bar-inner-user">
        <% if (user.escape('age_preference').length > 0) { %>
          <p><%= heOrShe %> prefers to attend huddles with</p>
          <h6><%= user.escape('age_preference') %></h6>
        <% } %>
      </div>

      <div class="bar-inner-user">
        <% if (user.escape('bio').length > 0) { %>
          <p>About me</p>
          <h6><%= user.escape('bio') %></h6>
        <% } %>
      </div>

    </div>


    <div class="bar-divider"></div>


    <!--  -->
    <div class="bar-inner">
      <div class="comments">
        <div class="user-show-comment-list"></div>
      </div>

      <div class="comment-group">
        <div class="user-avatar">
          <img id='comment-form-avatar' src="<%= App.CURRENT_USER.thumb_avatar %>" width="60" height="60">
        </div>
        <form class="comment-form">

          <input type="hidden" name="commentable_id" value=<%= user_id %>>

          <input type="hidden" name="commentable_type" value="User">

          <input type="hidden" name="author_id" value=<%= App.CURRENT_USER.id %>>

          <label>
            <textarea class="comment-textarea" id="message" name='body' rows="3" cols="35" placeholder="Ask a question, share something, or post a comment ... "></textarea>
          </label>

        </form>
      </div>

    </div>

  </div>


  <div class="right-bar">
    <% if (!loaded) { %>
      <div class="spinner-right-bar"></div>
    <% } %>

    <% if (currentUser) { %>
      <% var userAlias = "Your" %>
    <% } else if (user.escape('sex') === '♀') { %>
      <% var userAlias = "Her" %>
    <% } else if (user.escape('sex') === '♂') { %>
      <% var userAlias = "His" %>
    <% } %>

    <div class="events">
      <p class="heading-his-her">
        <%= userAlias %>
      </p>
      <p class="heading">Upcoming Huddles </p>
      <div class="user-show-upcoming-events"></div>
    </div>


    <div class="events">
      <p class="heading">Past Huddles </p>
      <div class="user-show-past-events"></div>
    </div>

  </div>




</div>







<script>
  $(document).ready(function() {

    $("#owl-example").owlCarousel({
      slideSpeed : 800,
      singleItem:true,
      paginationSpeed: 800,
      autoPlay: false,
      // stopOnHover: true,
    });
  });

   $('.rating-container').hide()

</script>

<% if (currentUser || alreadyRated) { %>
  <script type="text/javascript">
     $(function() {
        $('#rating').barrating({
          theme: 'bars-1to10',
          readonly: true, //dynamic
        });
     });

  </script>
<% } else { %>
  <script type="text/javascript">
     $(function() {
        $('#rating').barrating({
          theme: 'bars-1to10',
          readonly: false, //dynamic
        });
     });

  </script>
<% } %>
