
  <div class="comment-index-item group">

    <div class="tiny-user-avatar">
      <% if (comment.escape('author_thumb_url') != "") { %>
        <img src="<%= comment.escape('author_thumb_url') %>" height="45" width="45">
      <% } else { %>
        <img src="http://www.sixthformcolleges.org/sites/default/files/user.png" height="45" width="45">
      <% } %>
    </div>

    <div class="comment-container-right">
      <div class="comment-container-inner-top group">

        <div class="commenter-name-div">

          <a class="commenter-name" href="#/users/<%= comment.escape('author_id') %>">
            <p class="comment-author-name">
              <% if (comment.escape('author_name') == App.CURRENT_USER.username) { %>
                You
              <% } else { %>
                <%= comment.escape('author_name')%>
              <% } %>
            </p>
          </a>
        </div>

        <div class="comment-body">
          <%= comment.escape('body')%>
        </div>

        <div class="delete-btn-comment">
          <% if (comment.escape('author_name') == App.CURRENT_USER.username) { %>
            <button type="button" class="comment-delete-btn" data-id=<%= comment.id %>>☓</button>
          <% } %>
        </div>

      </div>

      <abbr class="timeago"  title="<%= comment.escape('created_at')%>"></abbr>


    </div>



  </div>
