<div class="credentials-container">



  <form action="<%=users_url %>" method="post" class="login">

    <h1>Sign Up!</h1>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

    <input type="text" name="user[username]" value="<%= @user.username %>" class="login-input" placeholder="Username" autofocus>

    <input type="password" name="user[password]" class="login-input" placeholder="Password">

    <input type="submit" value="Sign Up" class="login-submit">

    <input type="submit" value="Demo Account" class="login-submit demo-account">

  </form>

  <p class="sign-in">
    <%= link_to "Sign In", new_session_url %>
  </p>

  <p class="register">
    <%= link_to "Register", new_user_url %>
  </p>

</div>
