<a href="#/groups/<%= group.escape('id')%>" class="group-item" data-id=<%= group.escape('id')%>>
  <p>
    <%= group.escape('name').capitalize()%>
    <!-- num members -->
  </p>
</a>

<% if (image != undefined) { %>
  <a href="#/images/<%= image.id %>">
    <img src="<%= image.escape('thumb_url_cropped') %>" alt="" />
  </a>
<% } %>
