<div class="faded-background"></div>

<div class="search-results-div">

  <h1 class="one">Groups</h1>

  <% if (groups != undefined) { %>

    <% if (groups && groups.length === 0) { %>
      <h7 class="no-item-match-search">
        No groups match your search
      </h7>
    <% } %>

    <% groups.forEach(function(group){ %>

        <div class="comment-index-item result-container group">

          <div class="tiny-user-avatar">
            <% if (group.escape('group_url_cropped') != "") { %>
              <img src="<%= group.escape('group_url_cropped') %>" height="45" width="45">
            <% } else { %>
              <img src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,e_sepia:58,o_38,w_228/v1440096555/group_lcu8kc.png" height="45" width="45">
            <% } %>
          </div>

          <div class="comment-container-right">
            <div class="comment-container-inner-top group">

              <div class="commenter-name-div">

                <a class="commenter-name" href="#/groups/<%= group.id %>">
                  <p class="comment-author-name">
                   <%= group.escape('name').capitalize()%>
                  </p>
                </a>
              </div>

              <div class="comment-body">

              </div>

            </div>

            <div class="sentence"><%= group.escape('sentence')%></div>


          </div>



        </div>
    <% }) %>
  <% } %>

  <h1 class="two-three">Huddles</h1>

  <% if (huddles != undefined) { %>

    <% if (huddles && huddles.length === 0) { %>
      <h7 class="no-item-match-search">
        No huddles match your search
      </h7>
    <% } %>

    <% huddles.forEach(function(huddle){ %>

        <div class="comment-index-item result-container group">

          <div class="tiny-user-avatar">
            <% if (huddle.escape('event_url_cropped') != "") { %>
              <img src="<%= huddle.escape('event_url_cropped') %>" height="45" width="45">
            <% } else { %>
              <img src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,h_60,o_43/v1440459387/rdx8z8chvxtjutwxzj6q.png" height="45" width="45">
            <% } %>
          </div>

          <div class="comment-container-right">
            <div class="comment-container-inner-top group">

              <div class="commenter-name-div">

                <a class="commenter-name" href="#/events/<%= huddle.id %>">
                  <p class="comment-author-name">
                   <%= huddle.escape('title').capitalize()%>
                  </p>
                </a>
              </div>

              <div class="comment-body">

              </div>

            </div>

            <div class="sentence"><%= huddle.escape('sentence')%></div>


          </div>



        </div>
    <% }) %>
  <% } %>


  <h1 class="two-three">Users</h1>

  <% if (users != undefined) { %>

    <% if (users && users.length === 0) { %>
      <h7 class="no-item-match-search">
        No users match your search
      </h7>
    <% } %>

    <% users.forEach(function(user){ %>

        <div class="comment-index-item result-container group">

          <div class="tiny-user-avatar">
            <% if (user.escape('user_url_cropped') != "") { %>
              <img src="<%= user.escape('user_url_cropped') %>" height="45" width="45">
            <% } else { %>
              <img src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,o_51,w_128/v1440459652/usericon_t44xbb.png" height="45" width="45">
            <% } %>
          </div>

          <div class="comment-container-right">
            <div class="comment-container-inner-top group">

              <div class="commenter-name-div">

                <a class="commenter-name" href="#/users/<%= user.id %>">
                  <p class="comment-author-name">
                   <%= user.escape('username').capitalize()%>
                  </p>
                </a>
              </div>

              <div class="comment-body">

              </div>

            </div>


            <div class="sentence"><%= user.escape('sentence')%></div>


          </div>



        </div>
    <% }) %>
  <% } %>


  <p class="close-search-results">
    Close [x]
  </p>

</div>
