<div class="title-div-1 group-title-div-1">
  <h1><%= group.escape('name').capitalize() %> Group</h1>
</div>

<div class="title-div-2 group-title-div-2"></div>

<div class="title-div-3 group-title-div-3"></div>

<div class="group-show-container inner-container group">

<div class="left-bar">

  <div class="info">

    <% if (image != undefined) { %>
      <a href="#/images/<%= image.id %>">
        <div class="image-box-big">
          <img class="group-image"src="<%= image.escape('thumb_url_cropped') %>" width="175" height="175" alt="" />
        </div>
      </a>
    <% } %>


      <% if (ableToUploadImage) { %>
      <div class="bar-inner bar-inner-upload-image bar-left-image-container">
        <p class="tiny-text">As its creator you can...</p>

        <% if (images.length > 0) { %>
          <button class="btn btn-info btn-lg uploadImage">
            Upload new
            <span class="glyphicon glyphicon-picture"></span>
          </button>
        <% } else { %>
          <button class="btn btn-info btn-lg uploadImage">
            Upload a
            <span class="glyphicon glyphicon-picture"></span>
          </button>
        <% } %>

      </div>

      <div class="bar-divider space-top-bar-divider"></div>

      <% } %>

    <div class="group-created-by">
      <p class="group-creator">
        Group started by:
      </p>
      <% if (group.escape('author_name') == App.CURRENT_USER.username) { %>
          <p class="group-creator-name">
            You
          </p>
      <% } else { %>
        <p class="group-creator-name">
          <%= group.escape('author_name').capitalize()%>
        </p>
      <% } %>

      <abbr class="timeago"  title="<%= group.escape('created_at')%>"></abbr>
    </div>





  </div>




  <!-- <% if (group.escape('author_name') == App.CURRENT_USER.username) { %>
    <button type="button" class="group-delete" data-id=<%= group.id %>>Disband Group</button>
  <% } %> -->

</div>






<div class="mid-bar">

  <% if (group.escape('body').length > 0) { %>
    <div class="bar-inner">

      <div class="group-events">
        <p class="heading-about-us">About Us: </p>
      </div>

      <h5 class="group-show-description"><%= group.escape('body') %></h5>
    </div>
    <div class="bar-divider"></div>
  <% } %>

  <div class="group-events group-event-container">
    <p class="heading">Upcoming Events: </p>
    <div class="group-show-upcoming-events"></div>
  </div>

  <div class="group-events group-event-container">
    <p class="heading past-heading">Past Events: </p>
    <div class="group-show-past-events"></div>
  </div>

  <div class="bar-inner">
    <div class="comments">
      <div class="group-show-comment-list"></div>
    </div>

    <div class="comment-group">
      <div class="user-avatar">
        <img src="<%= App.CURRENT_USER.thumb_avatar %>" width="60" height="60">
      </div>
      <form class="comment-form">

        <input type="hidden" name="commentable_id" value=<%= group_id %>>

        <input type="hidden" name="commentable_type" value="Group">

        <input type="hidden" name="author_id" value=<%= App.CURRENT_USER.id %>>

        <label>
          <textarea class="comment-textarea" id="message" name='body' rows="3" cols="35" placeholder="Ask a question, share something, or post a comment ... "></textarea>
        </label>

      </form>

    </div>
  </div>

</div>


  <div class="right-bar">

    <% if (ableToCreateHuddle) { %>

      <div class="start-event-div">
        <div class="small">
          Schedule a New
        </div>
        <div class="big">
          Huddle
        </div>

      </div>

      <div class="bar-divider-full"></div>
    <% } %>

    <div class="members">
      <p class="heading heading-group-member">Members:</p>

      <% if (!group.users().get(App.CURRENT_USER.id)) { %>
        <button type="button" class="join-group">
          Join this Group!
        </button>
      <% } else { %>
        <button type="button" class="leave-group">
          Leave this Group
        </button>
      <% } %>

      <div class="group-show-user-list group"></div>
    </div>

  </div>

</div>
