<%= render "layouts/navibar" %>
<div id="cover"></div>

<div id="root">
  <!-- backbone views attaches here -->
</div>


<% if current_user.images.first && current_user.images.first.thumb_url_cropped %>
  <script>
    $(App.initialize);
    App.CURRENT_USER = {
      username: "<%= current_user.username.capitalize %>",
      id: <%= current_user.id %>,
      thumb_avatar: "<%= current_user.images.first.thumb_url_cropped %>"
    }
  </script>
<% else %>
  <script>
    $(App.initialize);
    App.CURRENT_USER = {
      username: "<%= current_user.username.capitalize %>",
      id: <%= current_user.id %>,
      thumb_avatar: "http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,o_51,w_128/v1440459652/usericon_t44xbb.png"
    }
  </script>
<% end %>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('.navbar-brand').click(function(){
      $('.tooltip').remove();
    })
    setTimeout(function (){
      $('#cover').remove()
    }, 2000)
  });



</script>
