<nav class="navbar navbar-default ow-color ">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand overwrite"  data-toggle="tooltip" data-placement="bottom" title="Huddleup.site is a meetup place for pets" href="#">
          <img alt="HuddleUp#logo" src="<%= image_url("longlogo.png")%>" width="132" height="50">
      </a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">

            <li class="start-group"><a href="#" class="start-group-a">
              <p class="biggerword">
                Find
              </p>
              <p class="smallerword">
                a HuddleUp Group
              </p>
            </a></li>

            <li class="start-group"><a href="#/groups/new" class="start-group-a">

              <p class="biggerword">
                Start
              </p>
              <p class="smallerword">
                a HuddleUp Group
              </p>
            </a></li>

          </ul>

      <!-- <form class="navbar-form navbar-left" role="search">


        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form> -->

      <ul class="nav navbar-nav navbar-right">

        <% if signed_in? %>
          <!-- <li class="navbar-text signed-in-as">Signed in as <%= current_user.username.capitalize %></li> -->
        <%else%>
          <li><%= link_to "Sign Up", new_user_url %></li>
          <li><%= link_to "Sign In", new_session_url %></li>
        <%end%>

        <% if current_user.images.first && current_user.images.first.thumb_url_cropped %>
          <a class='avatar-mini' href="#users/<%= current_user.id %>">
            <img id='avatar-mini' alt="avatar" src="<%= current_user.images.first.thumb_url_cropped %>" width="45" height="45">
          </a>
        <% else %>
          <a class='avatar-mini' href="#users/<%= current_user.id %>">
            <img id='avatar-mini' alt="avatar" src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,o_51,w_128/v1440459652/usericon_t44xbb.png" width="45" height="45">
          </a>
        <% end %>

        <!-- <li><a href="#">Messages <span class="badge">3</span></a><li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>

              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#users/<%= current_user.id %>">Profile Page</a></li>
            <li><a href="#/groups/new">Start a Group</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://cyspath.github.io/thunderbird-game/">Thunderbird Game</a></li>
            <li><a href="https://github.com/cyspath/Chess">Github Repo(Chess)</a></li>
            <li><a href="https://github.com/cyspath/capstone_project">Github Repo(HuddleUp)</a></li>
            <li role="separator" class="divider"></li>
            <li><a
            <li><%= link_to "Sign Out", session_url, method: :delete %></li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
